@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Aladin&family=Antic+Slab&family=Arbutus+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 112.5%;
} /*18px*/

body {
  /* background: #d4f1f4; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #050a0a;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}

.logo {
  font-family: "Abril Fatface", cursive;
}

.navContainer {
  margin: 2rem auto 0;
  width: 80%;
}

.gred {
  background: #afdfef;
}

.gredR {
  background: linear-gradient(rgb(175, 223, 239), rgb(212, 241, 244));
}

.gredText {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #294ebc, #4e29bc);
}
